@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css?family=Raleway: 400,700,900");
@import url("https://fonts.googleapis.con/icon?family=Material+Icons");
@import url("https://meyerweb.con/eric/tools/css/reset/reset.css");

@import url("https://fonts.googleapis.com/css?family=Raleway: 400,700,900");
@import url("https://fonts.googleapis.con/icon?family=Material+Icons");
@import url("https://meyerweb.con/eric/tools/css/reset/reset.css");




.home-container {
  background-image: url(../logos/bannerfondo.jpeg);
  background-repeat: no-repeat;
  background-position: center right;  /* Centra la imagen de fondo */
  height: 800px;
  background-attachment: scroll;
  background-size: 43.5%;         /* Cambia a 50% para reducir el tamaño de la imagen */
  display: flex;
  flex-direction: column;        /* Organiza el contenido en una columna */
  justify-content: center;       /* Centra el contenido verticalmente */
  align-items: flex-start;       /* Alinea el contenido a la izquierda */
  padding-left: 25px;            /* Espacio entre el contenido y el borde izquierdo */
  background-color: #f6f1e3;
  

}

.home-text {
  max-width: 60%;                /* Limita el ancho del texto */
  color: #425179;
  font-size: 3.8rem;               /* Tamaño del texto */
  margin-bottom: 20px;           /* Espacio entre el texto y el botón */
}

.btn-primary {
  background-color: #ca5038;
  color: #f6f1e3; /* Texto del botón en color claro */;     /* Color del botón */
  border: none;
  padding: 10px 20px;            /* Tamaño del botón */
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;            /* Bordes redondeados */
}

.btn-primary:hover {
  background-color: rgba(224, 148, 25, 0.692);     /* Color del botón cuando pasas el cursor */
}


/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .home-container {
      padding-left: 20px;         /* Reduce el espacio en pantallas pequeñas */
      height: 600px;              /* Ajusta la altura del contenedor en pantallas pequeñas */
  }

  .home-text {
      font-size: 1.5rem;          /* Reduce el tamaño del texto en pantallas pequeñas */
      max-width: 90%;             /* Aumenta el ancho máximo del texto */
  }
}
